#quoteCont {
  position: absolute;
  left: 30%;
  top: 30%;
  height: 40%;
  width: 40%;
  padding: 2em;
  border: .1em solid var(--black);
}

#quote {
  font-size: 1.25em;
}

#quote::before {
  content: "\201C";
  font-size: 3em;
}

#quote::after {
  content: ",\201D";
}

#author {
  margin-right: 2em;
  font-size: 1.1em;
  text-align: right;
}

#author::before {
  content: "\2014";
}
